<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title th:text="${title}"></title>
</head>
<body>
    <div th:fragment="header">
        <h1>Bienvenido a Termlink de ROBCO Industries(TM)</h1>
        <h2>Inicializando...</h2>
        <h2>PROPIEDAD DE VAULT-TECT</h2>
        <h2>Autorización: Solo para ojos del supervisor</h2>
    </div>
</body>
</html>
